body {
  background-color: black;
  margin: 0 auto;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.landingPage {
  background-size: auto;
  background-image: url("../images/pngegg.png");
  background-repeat: no-repeat;
  background-position: relative;
  background-position: 800px;
  height: 700px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1,
h2,
h3 {
  color: white;
  padding-top: 30px;
}

h1 {
  margin-bottom: 30px;
}

.startButton {
  margin-top: 70px;
  width: 250px;
  font-size: 16px;
  padding: 10px;
  border-radius: 10%;
  box-shadow: 0 9px #999;
}
